.navbar{
  margin-top: 16px;
  margin-bottom: 0px;
  border-radius: 0px;
}

.col-md-12{
	border-left: 1px solid #e7e7e7;
	border-right: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	padding-bottom: 15px;
}

.errors-list{
	margin-top: 15px;
}

.btn-update{
	float: left;
}

.btn-delete{
	float: left;
	margin-left: 10px;
}

.alert-success{
	margin-top: 12px;
}